Admin Console to view of users and scan data :

- Admin Company Login using username/password
- Reach screen with 2 Tabs Users, ScanData
- User clicks Users Tab  (lands by default)
- List of users is shown (photo, name, email, number of scans, last seen time)
- List of users should be sortable. (name, email, last seen time, number of scans)
- Click on number of scans should show list of scans (filtered by user)
- List of scans should show scan data  (user name, email, type of scan, time of scan, link to scandata)
- List of scans should should be filterable by user email. And sortable by user or time
- Should have logout button.
